.navBarWrapper {
  display: flex;
  justify-content: center;
  background-color: #2f2f2f;
  width: 100vw;
  padding: 15px 0 15px 0;
}

.navLink {
  text-wrap: wrap;
  font-size: 16px;
  text-transform: uppercase;
  padding-inline: 8px;
  border-radius: 1px;
  padding-block: 5px;
  justify-self: center;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-inline: 20px;
  /* white-space: nowrap; */
}

.navLink:hover {
  background-color: cadetblue;
}
