.passwordContainer {
  display: flex;
}

.passwordInputBox {
  background-color: white;
  padding-inline: 5px;
  padding-block: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 25px;
  height: 25px;
  width: 225px;
}

.showPasswordButton {
  background-color: cadetblue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showPasswordButton:hover {
  cursor: pointer;
}

.showPasswordIcon {
  height: 25px;
  width: 25px;
}
