.carPageWrapper {
  /* background-color: red; */
  width: 100%;
  /* padding: 2rem 1rem; */
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.carImageBigWrapper {
  margin-right: 2.5rem;
  width: 50rem;
  @media (max-width: 900px) {
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.carImageBig {
  object-fit: contain;
  max-width: 800px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carDetailsWrapper {
  display: grid;
}

.carDetailsWrapper p {
  color: white;
}

.carDetailsName {
  font-size: 2.1875rem;
  font-weight: 600;
}

.carDetailsSpecs {
  font-size: 0.8125rem;
  margin-bottom: 2.5rem;
}

.priceText {
  font-size: 2.1875rem;
  font-weight: bold;
}

.contactSellerWrapper {
  background-color: #303030;
  padding: 0.625rem 2.1875rem;
  border-radius: 0.625rem;
  justify-self: flex-end;
}

.contactSellerText {
  font-size: 1.1875rem;
}

.contactSellerButton {
  display: flex;
  background-color: cadetblue;
  border-radius: 0.625rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  color: white;
}

.contactSellerButton:hover {
  background-color: #508688;
  cursor: pointer;
}
